.main-header {
  background-color: var(--primary-teal);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  height: 80px;
}

.logo-area {
  background: #e6eceb;
  color: var(--primary-teal);
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo-img {
  height: 30px;
  width: auto;
}

.title-area h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: 1px;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-logout {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 25px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}