<div class="page-container">
  
  <app-header></app-header>

  <div class="main-layout">
    
    <app-sidebar></app-sidebar>

    <main class="content-area">
      
      <div class="toolbar">
        <div class="tool-group">
          <img src="assets/images/icono_menu.png" class="tiny-icon" alt="v">
          <span>CATEGORIAS</span>
        </div>
        <div class="tool-group search-group">
          <input type="text" class="search-input" placeholder="Buscar...">
          <span>BUSCAR</span>
        </div>
        <div class="tool-group">
  <button class="btn-mis-cursos" routerLink="/alumnos">
    LISTADO ALUMNOS
  </button>
</div>

      </div>

      

      <div class="most-visited-section">

        <div class="section-badge">Últimos Cursos</div>


<div class="courses-grid">
  <!-- Lista simple de categorías que vienen de la BD -->
<div *ngIf="users && users.length">

  <h2>Categorías disponibles</h2>

  <div class="category-list">
    <div class="category-card" *ngFor="let cat of users">
      <h3>{{ cat.nombre }}</h3>
     
      <small>ID: {{ cat.id_categoria }}</small>
    </div>
  </div>

</div>

  

</div>


        
      
      </div>


      <div class="info-panel">


    

        <div class="scorm-desc">
          <h2>¿Qué es SCORM?</h2>
          <p>
            SCORM (Shareable Content Object Reference Model) es el estándar técnico más utilizado en el e-learning que define cómo se debe estructurar y empaquetar el contenido digital para garantizar la interoperabilidad. 
          </p>
          <p>
           Su objetivo es asegurar que los cursos funcionen correctamente y de manera consistente en cualquier Plataforma de Gestión del Aprendizaje (LMS). 
          </p>
          <p>
            SCORM utiliza un protocolo de comunicación para que el contenido sepa cómo "hablar" con el LMS, permitiéndole reportar el estado de finalización de los módulos y las calificaciones obtenidas, facilitando un seguimiento preciso de la interacción con el material didáctico
          </p>
        </div>
        
        <div class="features-grid">
        <img src="assets/images/central.png" alt="imagen_central">
          
        </div>
      </div>

    </main>
  </div>
  <div class="courses-carousel">
  <div class="course-card">
    <img src="assets/images/cursoSQL.jpg" alt="Curso 1">
  </div>

  <img src="assets/images/flecha.png" class="arrow-separator" alt="Siguiente" />

  <div class="course-card">
    <img src="assets/images/cursophyton.jpg" alt="Curso 2">
  </div>

  <img src="assets/images/flecha.png" class="arrow-separator" alt="Siguiente" />

  <div class="course-card">
    <img src="assets/images/angular-.net-core.jpg" alt="Curso 3">
  </div>
</div>



  <app-footer></app-footer>

</div>
